<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Developer Skills</title>
</head>
<body>
  <a href="/">Home</a>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a> - 
          <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
            <br>
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>