<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <label> Skill Name:
        <input type="text" name="skill">
        <button type="submit">Save Skill</button>
    </label>
        <br>
        </form>
    <br>
    <a href="/skills">Skills List</a>
</body>
</html>